.cooking-ingredients {
  padding: 103px 0px;

  .inner-container {
    display: flex;
    justify-content: space-between;

    .content {
      p {
        color: #FFFFFC;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
        text-transform: capitalize;
        margin-bottom: 62px;
        width: 378px;
        ;
      }

      .sec-btn {
        margin: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .cooking-ingredients {
    .inner-container {
      flex-direction: column-reverse;

      .img {
        width: 100%;
        margin: 0 auto 5px;
        display: flex;
        justify-content: center;

        img {
          transform: scale(0.6);
        }
      }

      .content {
        .sec-header {

          h1,
          h2 {
            text-align: center;
          }
        }

        p {
          width: 100%;
          text-align: justify;
        }

        .sec-btn {
          margin: auto;
        }
      }
    }
  }
}