* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Roboto , arial;
  background: #101418
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type:none ;
}
button{
  background-color: transparent;
  cursor:pointer;
}

@media (max-width : 991px){
  html{
    font-size: 14px;
}
}